<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoScrollerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F5D65401CB4A3B800B7F0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5D65591CB4A3B900B7F0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5D65641CB4A3B900B7F0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
